h1 {
    font-size: 3.8rem;
    font-weight: 200;
    color: #d80 !important;
}

p, li {
    color: #fff;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto !important;
}

.footer p {
    color: #000;
}

body > .container {
    margin-bottom: 400px;
}